body {
    padding-top: 3%; /* space for the top nav bar */
    font-size: 14px !important;
} 

html, body {
    height: auto;
    overflow: hidden;
} 

#hubs_list{
    height: 400px;
    margin-bottom: 10px;
    overflow:scroll;  
    -webkit-overflow-scrolling: touch;
}  
  
.withborder {
  border: 1px solid #c9c9c9;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0; 
}  


#modelsetList{
    height: 300px;
    margin-bottom: 10px;
    overflow:auto;  
    -webkit-overflow-scrolling: touch;
} 
#forgeViewer {
    width: 100%;
    height:60% !important;
  }
 
  
  .createQualityIssues {
    background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/pencil.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .loadQualityIssues {
    background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/exclamation-triangle.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

#tableIssueView{
    margin:auto;
    height: 40vh;
    display:block;  

}
#clashRawTable{
    margin:auto;
    height: 40vh;
    display:block;  

}
table.dataTable tbody tr:hover {
    background-color:#71d1eb !important;
 }
 .row_selected td {
    background-color: black !important; /* Add !important to make sure override datables base styles */
 }

 
 .viewcolumn{
  height:  92vh;;
  width:  95%;;
  display: block; 
} 
 
#panelview { 
    height:  95vh;;
    border:1px solid silver; 
    padding:10px; 
  }  
  
#projectview { 
    height: 80vh; 
 } 
  
.fa-middle-clash{
    position: absolute;
    left: 15vw;
    top: 60vh; 
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    z-index: 9999;
 }

 .fa-middle-issue{
    position: absolute;
    left: 15vw;
    top: 20vh; 
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    z-index: 9999;
 }

 .fa-middle-modelset{
    position: absolute;
    left: 5vw;
    top: 60vh; 
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    z-index: 9999;
 }


 .fa-middle-forgeview{
   
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  z-index: 9999;
}